/* The CSS in this file will be for the header section */

section {
	margin: 50px 0 50px 0;
}

.main_title {
	font-size: 116px;
	text-transform: uppercase;
}

.sub_title {
	font-size: 30px;
}

@media only all and (max-width: 900px){

	.main_title {
		font-size: 82px;
		text-transform: uppercase;
	}

	.sub_title {
		font-size: 20px;
	}
	
}