/* The CSS in this file will be for the mainVideo section */

#main-video-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	margin: 50px 10% 50px 10%;
}




