/* The CSS in this file will be for the mainVideo section */

#main-video-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 10% 10px 10%;
}

.title {
	font-weight: bold;
	font-size: 3em;
}

.video_title {
	font-size: 2em;
}

hr {
  border: 1px solid #333;
  border-radius: 50px;
}




