/* The CSS in this file will be for the video section */

#video-section {
	border-right: 2px solid black;
}

.video-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
}

.title {
	font-weight: bold;
	font-size: 3em;
}

.video_title {
	font-size: 2em;
}